
/* 맨위 네비박스 */
#jt_nav-box{
	padding-top: 30px;
}

/* 내용들 */
#jt_content{
	padding-top: 50px;
	margin-top: 5px;
}

/* 곡차트 */
#jt_search_music{
	padding-top: 30px;
}

/* 곡차트 테이블 */
#jt_music_tb{
	padding-top: 20px;
}

/* 서치앨범 */
#jt_search_album{
	padding-top: 30px;
}

/* 서치영상 */
#jt_search_mv{
	padding-top: 30px;
}


/* 모서리 동그란 이미지 */
.img-rounded{
	width: 150px;
	height: auto;
}

/* 앨범디테일 */
.jt_album_detail{
	 cursor: pointer;
}

/* 댓글 등록버튼 */
#jt_cmt_bt{
	margin-bottom: 5px;
}

/* 조회수 */
#jt_cmt_counts{
	 margin-right: 850px;
	 margin-left: 10px; 
}

/* 최신수 추천수 답글순 */
.jt_cmt_array{
    margin-right: 10px;
    cursor: pointer;
}

/* 댓글 읽기 프로필 */
.img-circle{
	width: 100px;
	height: auto;
	margin-left: 10px;
	margin-right:20px;
	
}

/* 노래좋아요 */
.jt_user_content{
	margin: 0px 650px 0px 0px;
}

/* 좋아요 버튼 */
.jt_user_up{
	margin-top: 20px;
	margin-left: 10px; 
}

.jt_user_down{
	margin-left: 20px; 
}

/* 웹플레이어 로고 */
.jt_logo_img{
	
	width: 7rem;
    height: 7rem;
    object-fit: cover;
    object-position: center;
    -webkit-transition: all 0.3s 0.15s;
    transition: all 0.3s 0.15s;
  /*   width: 100px;
	height: auto;
	margin-left:200px; */

} 

#nowPlaying-infoBox{
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 1rem;
    font-weight: 300;
    min-width: 19rem;
}
.nowPlaying{
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    padding: 2rem 2rem 1rem 2rem;
}
.
