
#jt_nav-box{
	padding-top: 40px;
}


#jt_content{
	padding-top: 50px;
}

#jt_search_music{
	padding-top: 50px;
}
#jt_music_tb{
	padding-top: 20px;
}
#jt_search_album{
	padding-top: 50px;
}
#jt_search_mv{
	padding-top: 50px;
}
#jt_content{
	margin-top: 5px;
}
.img-rounded{
	width: 150px;
	height: auto;
}


