
 .ls_my-4 {
	margin-left:1.2rem;
}
.ls_nav{
	height : 20%;
}
#ls_alDateSort,
#ls_alUpSort
{
	font-size: 18px;
}
.ls_thumbnail{
	float: left;
}

.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.
.ls_table table-filter {
	width: 100%;
	height : 100%;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.ls_table-filter th tr td {
	padding: 20px;
	vertical-align: middle;
	border-top-color: #eee;
	width: 10%;
		text-align: center;
}

.ls_table-filter tbody tr.selected td {
	background-color: #eee;
}

.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	margin: auto;
}

.panel .btn-group {
  margin: 15px 0 30px;
}

.panel .btn-group .btn {
  transition: background-color .3s ease;
}

.ls_table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
   margin: auto;
}
#ls_panel{
	border: none;
}

.ls_table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
   margin: auto;
}
#ls_topTable_tr{
  cursor : default;
  background-color: #eee;
 border-bottom: 1px solid #eee;
 margin-bottom: auto;
 margin-top: : auto;
}
.ls_ckbox{
	text-align: center;
}
.ls_table-filter tbody tr td  {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
  margin:  auto;
}


.ls_table-filter tbody tr.selected td {
  background-color: #eee;
}



.ls_table-filter tr td:nth-child(2) {
  width: 60px;
}

.ckbox {
  position: relative;
}

.ckbox input[type="checkbox"] {
  opacity: 0;
}

#ls_album_photo{
  width: 60px;
  height: 60px;
}


.ls_char_panel {
	border: 1px solid #eee;
}
.ls_album_nav{
	border: 1px solid #eee;
	margin-bottom: 20px;
}


.thumbnail{padding:0; border-radius:0; border:none; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
.thumbnail>img{width:230px;height:230px; paplay:block}
.thumbnail h3{font-size:26px}
.thumbnail h3,.card-description{margin:0; padding:5px;padding-right:10px ;border-bottom:solid 1px #eee; text-align:justify}
.thumbnail p{padding-top:8px; font-size:20px}
.thumbnail .btn{border-radius:0; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); font-size:20px}



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: fixed; Sit on top of the page content
    display: none; Hidden by default
    width: 100%; Full width (cover the whole page)
    height: 100%; Full height (cover the whole page)
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); Black background with opacity
    z-index: 2; Specify a stack order in case you're using a different order for other elements
    cursor: pointer; Add a pointer on hover
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.ls_card-description{
overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 270px;
 height: 39px;
 font-size: 24px;
}
.albumlis, .addMyList {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 0 auto;
}
.albumlis:hover, .addMyList:hover  {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.albumlis:active, .addMyList:active{
	position:relative;
	top:1px;
}
#morePage{
	margin : 0 auto;
	text-align: center;
}




.ls-dj-item {
	position: relative;
	z-index: 1;
	overflow: hidden; 
}
.ls-dj-item img {
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms; 
}
.ls-dj-item .ls-dj-item-content {
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    width: calc(100% - 60px);
    bottom: 30px;
    left: 30px;
    z-index: 99; 
}
.ls-dj-item .ls-dj-item-content .ls-dj-content-txt {
	padding: 15px 35px; 
}
.ls-dj-item .ls-dj-item-content .ls-dj-content-txt h4 {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	font-weight: 900;
	margin-bottom: 1rem;
	line-height: 1; 
}
.ls-dj-item .ls-dj-item-content .ls-dj-content-txt p {
	color: #333;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 4px;
}
.ls-dj-item:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
}
.ls-dj-item:hover .ls-dj-item-content {
	bottom: 80px; 
}
.ls-dj-item:hover .ls-dj-item-content .ls-dj-content-txt h4 {
	color: #bd177a; 
}


/* 수정용 */
#alCarousel .carousel-control        { width:  4%; }
#alCarousel .carousel-control.left {margin-right:15px;background-image:none;}
#alCarousel .carousel-control.right {margin-left:15px;background-image:none;}

#alCarousel .carousel-inner .item.prev.right,
#alCarousel .carousel-inner .item.next.left {transform: translateX(0);}

@media (max-width: 767px) {
	#alCarousel .img-responsive{margin:0 auto;}
	#alCarousel .active > div { display:none; }
	#alCarousel .active > div:first-child { display:block; }
	#alCarousel .carousel-inner .item.left.active { transform: translateX(-100%);}
	#alCarousel .carousel-inner .item.right.active {transform: translateX(100%);}
  	#alCarousel .carousel-inner .item.next {transform: translateX(100%)}
  	#alCarousel .carousel-inner .item.prev {transform: translateX(-100%)}
}
@media (min-width: 767px) and (max-width: 992px ) {
	#alCarousel .active > div { display:none; }
	#alCarousel .active > div:first-child { display:block; }
	#alCarousel .active > div:first-child + div { display:block; }
	#alCarousel .carousel-inner .item.left.active { transform: translateX(-50%);}
	#alCarousel .carousel-inner .item.right.active {transform: translateX(50%);}
	#alCarousel .carousel-inner .item.next {transform: translateX(50%)}
	#alCarousel .carousel-inner .item.prev {transform: translateX(-50%)}
}
@media (min-width: 992px ) {
	#alCarousel .carousel-inner .item.left.active { transform: translateX(-25%);}
  	#alCarousel .carousel-inner .item.right.active {transform: translateX(25%);}
  	#alCarousel .carousel-inner .item.next {transform: translateX(25%)}
  	#alCarousel .carousel-inner .item.prev {transform: translateX(-25%)}
}
#ls_alTable{
		border: 1px solid #eee;
}
