<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.soundlab.web.service.ServiceMapper">
	<select id="getArtist" resultType="com.soundlab.web.bean.artist">
		SELECT ARTIST_SEQ, ARTIST_NAME, SEX, BIRTH, DEBUT, NATION, GROUPNAME
		FROM ARTIST WHERE ARTIST_NAME LIKE #{artistName}
	
	</select>

</mapper>

 -->